/* The following styles will only apply to desktop viewports larger the 768px wide*/

@media (min-width: 768px){
    .container{
        max-width: 1000px;
    }

    .hero{
        height: 650px;
    }

    .logo-wrapper{
        text-align: left;
    }
    .links-wrapper{
        display:block;
    }

    .hamburger-menu-wrapper{
        display:none;
    }

    .showcase-content{
        flex-direction: row;
    }

    .showcase-item{
    width: 300px;
    height: 400px;
    }

    .jobs-intro{
    flex-direction: row;
    max-width: 900px;
    }

    
    
    .job-intro-link{
        width: 400px;
    }
    
    .job-intro-link button{
        flex-direction: row;
        width: 150px;
    }
    
    .job-photos-wrapper{
        display: grid;
        grid-template-columns: 300px 150px;
        grid-template-rows: 50% 50%;
        max-width: 450px;
        height: 260px;
    }
    
    .job-photo img{
        max-height: 260px;
    }

    .job-photo:not(:first-child){
        display: block;
    }

    .job-photo:not(:first-child) img{
        max-height: 125px;
    }

    .job-photo:first-child{
        padding-right: 10px;
        grid-row: span 2;
    }

    .job-photo:last-child{
        align-self: end;
    }
}
